
  .resizedImage {
    max-width: 95%;
    max-height: 500px;
  }
  
  .carouselContainer {
    width: 80%;
    margin: 0 auto; 
  }

  .carousel .thumbs-wrapper .thumb {
    display: inline-block;
    margin-right: 6px;
    white-space: nowrap;
    overflow: scroll;
    border: 3px solid #fff;
    padding: 2px;
    height: 50% !important; /* Adjust the height according to your preference */
  }