@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.dashed-line {
  height: 100%;
  width: 1px;
  background-color: #ccc;
  margin-right: 20px; /* Adjust as needed */
}
.review-container {
  border-left: 1px dashed #ccc;
  padding-left: 20px; /* Adjust as needed */
  margin-bottom: 20px; /* Adjust as needed */
}
